{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="fw-bold mb-4">Podsumowanie zamówienia</h1>

    {% if cart_items %}
        <div class="row g-4">
            {% for item in cart_items %}
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ item.olx.title }}</h5>
                            <p>{{ item.olx.description }}</p>
                            <p class="fw-bold">Cena: {{ item.olx.price }} PLN</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="mt-4 text-right">
            <h4 class="fw-bold">Całkowita suma: {{ total_price }} PLN</h4>
        </div>

        <form method="POST">
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Płacę</button>
            </div>
        </form>
    {% else %}
        <p class="text-muted">Twój koszyk jest pusty.</p>
    {% endif %}
</div>
{% endblock %}
