{% extends 'base.html' %}

{% block content %}
    <div>
        {% for ad in ads %}
            <p>
                {{ ad.title }}
                {% if ad.sold %}
                     ❌ Sprzedane
                {% else %}
                    ✅  Dostępne
                {% endif %}
            </p>
        {% endfor %}
    </div>

    <form method="post" action="{{ url_for('add') }}">
        <div class="mb-3">
            <label class="form-label">Tytuł ogłoszenia</label>
            <input type="text" class="form-control" name="item_text">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Dodaj ogłoszenie</button>
    </form>
    
{% endblock %}